
$white: #fff;
$grey: #6c757d;
$darkGrey: #343a40;
$ocher: #bf946f;
$black: #000;
$titleFont:'Bebas Neue', cursive;
$textFont: 'Roboto', sans-serif;


/*** INICIO PORTADA  ***/

.slide-bk img{height: 65vh;}

/*** FIN PORTADA ***/

