* {
    margin: 0;
    padding: 0;
}

:root {
    --white: #fff;
    --gris: #6c757d;
    --gris-oscuro: #343a40;
    --ocre: #bf946f;
    --fuente: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
    font-family: var(--fuente);
}

/***INCIO NAV ***/
.div-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#marcaNav {
    padding: 0;
    margin-top: 6px;
    font-weight: 300;
    font-size: 23pt;
} 
/* la proxima el H1 no hacer algun ID ya que solo tiene que haber un H1*/

@media screen and (min-width: 769px) {
    #marcaNav {
        padding: 0;
        margin-top: 6px;
        font-weight: 300;
        font-weight: 400;
    }
}

img.logo-nav {
    width: 65px;
    height: 65px;
}

@media screen and (min-width: 769px) {
    img.logo-nav {
        width: 75px;
        height: 75px;
    }
}

/*** FIN NAV ***/

/*** INICIO PORTADA ***/

/*** FIN PORTADA ***/

/*** INICIO SECTION PRODUCTOS ***/
.productos {
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    font-size: 10pt;
}

.productos__h3 {
    font-size: 17pt;
}

#textoCardProducto {
    font-size: 13pt;
    font-weight: 400;
}

@media screen and (min-width: 769px) {
    .productos__h3 {
        font-size: 23pt;
        text-decoration: underline;
    }
}

/*** FIN SECTION PRODUCTOS ***/

/*** INICIO ASIDE ***/
.aside {
    background-color: var(--gris-oscuro);
    color: var(--white);
    padding-bottom: 10px;
    margin-top: 50px;
    padding-top: 20px;
    font-weight: 300;
    font-size: 10pt;

}

.aside__class--h4 {
    color: var(--ocre);
    font-weight: 500;
    font-size: 17pt;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.redes-sociales__texto {
    color: var(--ocre);
    margin-top: 4px;
    font-weight: 500;
    font-size: 13pt;
}

.redes-sociales__logo {
    margin-top: 7px;
    text-decoration: none;
    color: var(--white);
}
@media screen and (min-width: 769px){
    .aside{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        align-items: top;
        justify-items: center;
        justify-content: space-around;

    }
}
.aside__class--h4{
    font-size: 15pt;
}
.redes-sociales{
    background-color: var(--gris-oscuro);
    display: flex;
    justify-items: center;        
}
.logos-redes{
    color: var(--white);
    background-color: var(--gris-oscuro);
    display: flex;
    justify-content: center;
    justify-self: center;
}       
#logoIg{
    padding: 0 15px;
    
}
#logoFb{
    padding: 0 15px;
}
/*** FIN ASIDE ***/


/*** INICIO FOOTER ***/
.footer {
    background-color: var(--gris-oscuro);
    color: var(--white);
    font-weight: 100;
    text-align: center;
    font-size: 10pt;
    padding-top: 10px;
}

.fzangla {
    text-decoration: none;
    color:var(--ocre) ;
}

@media screen and (min-width: 769px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 10px;  
    }
    .footer__desarrollador{
        margin-right: 180px;
    }
    .footer__empresa{
        margin-left:60px;
    }

}

/*** FIN FOOTER ***/